body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: dimgrey; 
    color: #696969;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

/* comments look like this in CSS files */

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: black;
}

#navbar {
  background-color: #000000; /* black */
  color: #ffffff;            /* white */
  margin: 0;
  padding: 0.5em 0; /* 0.5em padding on top/bottom, 0 padding on left/right */
}

#navbar a {
  margin: 0;
  padding: 0.5em;
  color: #ffffff;
  text-decoration: none;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}

.red{
    color:red;
}

.centre
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navbar a:hover {  
          color: #000099; /* blue */ 
       } 
